<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title><!--{echo $page_title}--></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="<!--{echo css_url('bootstrap.css')}-->" type="text/css" rel="stylesheet"/>
        <link href="<!--{echo css_url('bootstrap-responsive.css')}-->" type="text/css" rel="stylesheet"/>
        <link href="<!--{echo css_url('matrix-style.css')}-->" type="text/css" rel="stylesheet"/>
        <link href="<!--{echo css_url('matrix-login.css')}-->" type="text/css" rel="stylesheet"/>
        <link href="<!--{echo base_url('font-awesome/css/font-awesome.css')}-->" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="<!--{echo script_url('libs/modernizr/modernizr.js')}-->"></script>
        <!--[if lte IE 8]>
        <script src="<!--{echo script_url('libs/respond/respond.js')}-->" type="text/javascript"></script>
        <![endif]-->
        <script type="text/javascript" src="<!--{echo script_url('config.js')}-->"></script>
    </head>
    <body>